﻿@{
  ViewBag.Title = "Home";
}
<h2>
  Home</h2>
<a href="./Plugin1">plugin 1</a>
<br />
<a href="./CustomRoute">plugin 1 custom route</a>
<br />
<a href="./Plugin2">plugin 2</a>
<br />
<a href="./CustomRoute2">plugin 2 custom route</a>
<br />
@Html.ActionLink("Reload Plugins", "AddPlugins")
